body {
  background-color: #000;
  background-image: none;
}

#splash {
  background-color: #AC193D;
  background-image: url('/iconos/metro_camara.svg');
}

#contenedor {
  padding: 0;
}

#fullview {
  display: block;
  margin: 0 auto;
  height: 100%;
  cursor: pointer;
}

#contextual {
  background-color: rgba(0,0,0,0.4);
}

/* Código de aviso */

#aviso {
  background-color: #fff;
  color: #000;
  padding: 1em 4em;
  width: 100%;
  box-sizing: border-box;
}